<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body style="background: #78FFD6; color: #023C40; font-family: 'Source Sans Pro', sans-serif;">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center" style="height: 100vh;">
        <h1 style="color: #023C40; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0;text-align:">About Us</h1>
        <br>
        <a href="/" class="btn btn-primary">Homepage</a>
        <br>
        <a href="/cart" class="btn btn-primary">View Cart</a>
        <br>
        <p>Welcome to SuperMart, your one-stop destination for all your grocery needs. We pride ourselves on providing high-quality products at affordable prices. With a wide range of fresh produce, dairy, bakery items, and more, we aim to make your shopping experience convenient and enjoyable.</p>
        <p>Our team is dedicated to ensuring you get the best products and service every time you visit us. Whether you're looking for everyday essentials or special treats, SuperMart has you covered. We believe in delivering quality and freshness straight to your doorstep.</p>
        <p>Thank you for choosing SuperMart as your trusted grocery partner. We look forward to serving you and making your shopping experience truly exceptional.</p>
            </div>
</body>
</html>
